version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: seithi-postgres
    restart: unless-stopped
    env_file:
      - .env
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata

    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - seithi-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app_user -d seithi"]
      interval: 10s
      timeout: 5s
      retries: 5


networks:
  seithi-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local